.header{
    width: 100%;
    background-color: #232a31;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.logo{
    width: 50px;
}

.navbar-items{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-items li a{
    color: #eeee;
    text-transform: uppercase;
}

#login-btn{
    background-color: #2cc76a;
    color: #fff;
    padding: 16px 20px;
    border-radius: 4px;
}

.banner{
    background-image: url("../assets/img/mainbanner.png");
    background-position: center;
    background-size: cover;
    padding: 50px 8px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.banner h1, .banner strong{
    color: #FFF;
    text-align: center;
}

.banner h1{
    font-size: 54px;
}

.banner strong{
    font-size: 20px;
}

.benefits{
    width: 100%;
    text-align: center;
    padding: 50px 20px;
}

.benefits-list{
    display: flex;
    list-style: none;
    gap: 30px;
}

.benefits-items p{
    color: #8a8282ee;
    padding: 26px 12px;
}

.fas{
    font-size: 60px;
    margin-bottom: 30px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: red;
}

.fa-comments{
    color: orange;
}