.header{
    width: 100%;
    background-color: #232a31;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
}

.navbar-items{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-items li a{
    color: #eeee;
    text-transform: uppercase;
}

#login-btn{
    background-color: #2cc76a;
    color: #fff;
    padding: 16px 20px;
    border-radius: 4px;
}
