.header {
    width: 100%;
    background-color: #232a31;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.logo {
    width: 50px;
}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-items li a {
    color: #eeee;
    text-transform: uppercase;
}

#login-btn {
    background-color: #2cc76a;
    color: #FFF;
    padding: 16px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#login-btn:hover{
    background-color: red;
}

.banner {
    background-image: url("../assets/img/mainbanner.png");
    background-position: center;
    background-size: cover;
    padding: 50px 8px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.banner h1,
.banner strong {
    color: #FFF;
    text-align: center;
}

.banner h1 {
    font-size: 54px;
}

.banner strong {
    font-size: 20px;
}

.benefits {
    width: 100%;
    text-align: center;
    padding: 50px 20px;
}

.benefits-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.benefits-items p {
    color: #8a8282ee;
    padding: 26px 12px;
}

.fas {
    font-size: 60px;
    margin-bottom: 30px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: red;
}

.fa-comments {
    color: orange;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cards-title {
    text-align: center;
}

.cards-title h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cards-title p {
    font-size: 20px;
    margin-bottom: 40px;
}

.cards ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    flex: 1 1 1 1;
    flex-wrap: wrap;
    gap: 60px;
}

.card {
    width: 225px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #eee;
}

.card header {
    padding: 0 16px 16px 16px;
    display: flex;
    background-color: #232a31;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.card header h3 {
    color: #FFF;
}

.value {
    width: 88px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2cc76a;
    margin-top: -50px;
    border-radius: 50%;
}

.value strong {
    color: #FFF;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

.card footer {
    width: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 16px;
    background-color: #2cc76a;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: red;
}

.domain-search {
    background-color: #34454e;
    text-align: center;
    padding: 80px 0;
}

.domain-search h2 {
    color: #FFF;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  .domain-search p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
  }
  
  .domain-search input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 12px;
    font-size: 20px;
  }
  
.domain-search-input-text {
  margin-bottom: 20px;
  width: 60%;
  padding: 20px;
}

.domain-search-input-submit {
  background-color: #2cc76a;
  padding: 15px 30px;
  color: #FFF;
  transition: background-color 0.3s;
  cursor: pointer;
}

.domain-search-input-submit:hover{
    background-color: red;
}

.contact {
    text-align: center;
    padding: 80px 0 32px 0;
  }
  
  .contact h2 {
    font-size: 30px;
  }
  
  .contact p {
    font-size: 20px;
    margin: 12px 0 40px 0;
  }
  
  .contact input,
  .contact-textarea {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #aca6a6;
    margin: 0 10px 20px 10px;
  }
  
  .contact-textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 150px;
  }
  
  .contact-input-submit {
    background-color: #2cc76a;
    color: #FFF;
    width: 150px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .contact-input-submit:hover{
    background-color: red;
  }